.content__comment {
    border-top: 1px solid #000000;
    margin-top: 32px;
    display: flex;
    padding-top: 24px;
    padding-left: 16px;
    flex-direction: column;
}

.content__comment_block {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.content__comment_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellowgreen;
}
.content__comment_text {
    margin-left: 24px;
}
