.formControl textarea {
    border: 1px solid gray;
}

.error textarea,
.error input
{
    border: 1px solid red;
}

.errorMessage {
    color: red;
}

.global_error {
    color: red;
    padding: 10px;
    border: 1px solid red;
}