.header {
    grid-area: header;
    background-color: #242424;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 56px;
    margin: auto auto;
}

.logout {
    padding: 13px 16px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    background-color: #ffffff;
    color: #000000;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    border-radius: 6px;
    border: 1px solid #242424;
    cursor: pointer;
}
.logout:hover{
    background-color: #242424;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.loginBlock {
    display: flex;
}
.login {
    color: white;
    margin-right: 24px ;
}
.loginBlock a {
    color: white;
}