.navigation__link {
    display: flex;
    height: 56px;
    align-items: center;
    text-decoration: none;
    padding: 0 16px;
    border-bottom: 1px solid #F0F0F0;
}


.navigation__link:hover {
    background-color: #FAFAFA;
    transition: ease-in-out 0.3s;
}
.navigation__link_text {
    font-size: 14px;
    color: #242424;
    line-height: 24px;
    margin-left: 8px;
}

.navigation__link_active {
    background-color: rgba(103, 248, 152, 0.2);
}
.navigation__link_active:hover {
    background-color: rgba(103, 248, 152, 0.2);
}
.navigation__link_active path {
    fill: #242424;
}