
.sidebar {
    grid-area: navigation;
    background-color: darkgreen;
}

.sidebar__list , .sidebar__settings{
    text-decoration: none;
    list-style: none;
    padding-left: 24px;

}

.sidebar__list li {
    margin-bottom: 16px;
}
.sidebar a {
    text-decoration: none;
    color: #ffffff;
}