.sidebar {
  grid-area: navigation;
  height: 600px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #F0F0F0;
}

.sidebar__list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}



.sidebar__link {
  text-decoration: none;
  color: #ffffff;
}

.link__active {
  color: orangered !important;
}
