
.app-wrapper {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 222px 9fr;
  grid-gap: 24px;
  grid-template-areas:
    'header header'
    'navigation content';
}

.app-wrapper-content {
  grid-area: content;
}
