.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dialog {
    color: inherit;
    text-decoration: none;
}
.dialog_active {
    color: gold;
}


.messages {
    padding: 10px;
}

.message {
}
